<h1>Cyber Empire - les pronostics</h1>

<h4>total : <%= @pronostics.count %> lignes</h4>

<ul>
  <% @pronostics.each do |pronostic| %>
    <li> Le <%= pronostic.match.date %> | <%= pronostic.match.team1.name %> vs <%= pronostic.match.team2.name %>  | <%= pronostic.prono_site.name %> propose <%= pronostic.prediction %> ( <%= pronostic.advice %> ) </li>
  <% end %>
</ul>
